.compact{
    padding: 3px;
    margin: 3px;
}

.fondEcran{
    background: url(../images/fondEcranFoot1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

/* bottom */
.ui-dock-bottom {
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0px;
}
.ui-dock-container-bottom {
    position: fixed;
    height: 50px;
    background: #000000;
    padding-left: 0px;
}
a.ui-dock-item-bottom {
    display: block;
    font: bold 12px Arial, Helvetica, sans-serif;
    width: 40px;
    color: #000;
    bottom: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}
.ui-dock-item-bottom span {
    display: none;
    padding-left: 20px;
}
.ui-dock-item-bottom img {
    border: none;
    margin: 5px 10px 5px;
    width: 100%;
}

/*
Menu bar personalization
*/
/*background menu bar principale*/
.ui-menubar,.ui-menu-child,.ui-menu {
    background:#000000 !important;
}
/*couleur du texte*/
.ui-menu .ui-menuitem-text {
    float:left;
    color:deepskyblue;
}
/*Couleur du OnMouseOver*/
ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color: black !important;
    border-radius: 3px !important;
    border: solid #ffffff 1px !important;
    margin: 2px !important;
    padding: 2px !important;
}
/*Couleur du OnMouseOver du premier sous menu*/
li ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color: black !important;
}

.background-transparent{
    background-color: rgba(0, 0, 0, 0.5) !important;
}



















