<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="template.xhtml">
    <ui:define name="breadcrumb">
        <li><a href="#{request.contextPath}/groupe.xhtml">#{bundle.groupe}</a></li>
    </ui:define>
    <ui:define name="content">
        <div class="container col-md-10 col-md-offset-1">
            <div class="panel panel-default background-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">#{bundle.gestionGroupesMinifoot}</h3>
                </div>
                <div class="panel-body">
                    <h:form id="formInscription" style="margin-left: 25px;">
                        <ul class="list-inline center-block">
                            <li>
                                <h:commandButton styleClass="btn btn-default" value="#{bundle.creerGroupe}"/>
                            </li>
                        </ul>

                        <p class="center-block">En construction.</p>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
    <ui:define name="jquery"/>
</ui:composition>
</html>
