<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="template.xhtml">
        <!--<ui:define name="breadcrumb">-->
            <!--<li><a href="#{request.contextPath}/securite.xhtml">#{bundle.securite}</a></li>-->
        <!--</ui:define>-->
        <ui:define name="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="#{request.contextPath}/groupe.xhtml" class="list-group-item">
                                    <h4 class="list-group-item-heading">#{bundle.groupe}</h4>
                                    <p class="list-group-item-text">#{bundle.gestionGroupesMinifoot}</p>
                                </a>
                            </li>
                            <li>
                                <a href="#{request.contextPath}/equipe.xhtml" class="list-group-item">
                                    <h4 class="list-group-item-heading">#{bundle.equipes}</h4>
                                    <p class="list-group-item-text">#{bundle.gestionEquipesDescription}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ui:define>
        <ui:define name="jquery"/>
    </ui:composition>
</html>
