<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../template.xhtml">
    <ui:define name="breadcrumbs">
        <li><a href="#{request.contextPath}/gestion">#{bundle.gestion}</a></li>
        <ui:insert name="breadcrumb"/>
    </ui:define>
    <!--<div style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">-->
        <!--<ui:include src="menuBar.xhtml"/>-->
    <!--</div>-->
</ui:composition>
</html>