<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="template.xhtml">
        <ui:define name="breadcrumb">
            <li><a href="/baseDeDonnees.xhtml">#{bundle.baseDeDonnees}</a></li>
        </ui:define>
        <ui:define name="content">
            <p class="center-block">En construction.</p>
        </ui:define>
        <ui:define name="jquery"/>
    </ui:composition>
</html>
