<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="template.xhtml">
    <ui:define name="breadcrumbs">
        <li><a href="#{request.contextPath}/connexion.xhtml">#{bundle.connexion}</a></li>
        <ui:insert name="breadcrumb"/>
    </ui:define>
    <ui:define name="content">
        <p class="center-block">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"/>
            En construction.
        </p>
    </ui:define>
    <ui:define name="jquery"/>
</ui:composition>
</html>
