<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="template.xhtml">

    <ui:composition>
                <p:dock id="dock" position="bottom" itemWidth="40" maxWidth="45" proximity="80" halign="center" >
                    <p:menuitem style="color:#ffffff" value="#{bundle.home}" icon="images/dock/home.png" url="#"/>
                    <p:menuitem style="color:#ffffff" value="#{bundle.historique}" icon="images/dock/history.png" url="#"/>
                    <p:menuitem style="color:#ffffff" value="#{bundle.football}" icon="images/dock/football.png" url="#"/>
                    <p:menuitem style="color:#ffffff" value="#{bundle.configuration}" icon="images/dock/Settings-icon.png" url="#"/>
                    <p:menuitem style="color:#ffffff" value="#{bundle.deconnexion}" icon="images/dock/logout.png" url="#"/>
                </p:dock>
    </ui:composition>
</ui:composition>