<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="content">
                <div class="container">
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<br/>-->
                    <!--<h:form id="formTest">-->
                <!--<div class="panel-group">-->
                    <!--<h:messages style="list-style-type: none;" errorClass="alert alert-danger" warnClass="alert alert-warning" infoClass="alert alert-info" fatalClass="alert alert-danger"/>-->
                <!--</div>-->
                <!--<h:outputText vaue="Créer"/>-->
                <!--<div class="row">-->
                <!--&lt;!&ndash;<h:outputText value="ID : "/>&ndash;&gt;-->
                    <!--<label for="id" class="control-label">id</label>-->
                <!--<h:inputText id="id"-->
                             <!--styleClass="form-control"-->
                             <!--value="#{testMBean.id}"/>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--&lt;!&ndash;<h:outputText value="ID : "/>&ndash;&gt;-->
                    <!--<h:inputText id="filename"-->
                                 <!--value="#{testMBean.filename}"-->
                                 <!--label="filename : "/>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--<h:commandButton styleClass="btn btn-default" value="Save" action="#{testMBean.saveTest}"/>-->
                <!--</div>-->
                <br/>
                <!--<h:outputText vaue="Rechercher"/>-->
                <!--<div class="row">-->
                    <!--&lt;!&ndash;<h:outputText value="ID : "/>&ndash;&gt;-->
                    <!--<h:inputText id="rechercheId"-->
                                 <!--value="#{testMBean.id}"-->
                                 <!--label="id : "/>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--&lt;!&ndash;<h:outputText value="ID : "/>&ndash;&gt;-->
                    <!--<h:inputText id="rechercheUsername"-->
                                 <!--value="#{testMBean.filename}"-->
                                 <!--label="filename : "/>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--<h:commandButton styleClass="btn btn-default" value="Find" action="#{testMBean.findTest}"/>-->
                <!--</div>-->

                <!--<ui:fragment rendered="#{testMBean.testFound != null}">-->
                    <!--<h:outputText value="Vous avez trouvé l'entité Test-->
                    <!--id= #{testMBean.testFound.id} et filename = #{testMBean.testFound.filename}"/>-->
                <!--</ui:fragment>-->
                        <!--<p:dataTable var="test" value="#{testMBean.listAllTest}"-->
                                     <!--resizableColumns="true" liveResize="true"-->
                                     <!--id="resultatsRechercheTable"-->
                                     <!--styleClass="table table-hover">-->
                            <!--<p:column headerText="id" sortBy="#{test.id}" styleClass="col-md-1">-->
                                <!--<h:outputText id="resultatValidite" value="#{test.id}"/>-->
                            <!--</p:column>-->
                            <!--<p:column exportable="false" headerText="filename" sortBy="#{test.filename}" styleClass="col-md-5" style="white-space: normal;">-->
                                <!--<h:outputText id="resultatIntitComplet" value="#{test.filename}"/>-->
                            <!--</p:column>-->
                                <!--</p:dataTable>-->

                    <!--</h:form>-->
                </div>
            </ui:define>
            <ui:define name="jquery"/>
        </ui:composition>
    </h:body>
</html>
