<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="template.xhtml">
    <ui:define name="breadcrumbs">
        <li><a href="#{request.contextPath}/inscription.xhtml">#{bundle.inscription}</a></li>
        <ui:insert name="breadcrumb"/>
    </ui:define>
    <ui:define name="content">
        <div class="container col-md-6 col-md-offset-3">
            <div class="panel panel-info background-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">#{bundle.formulaireInscription}</h3>
                </div>
                <div class="panel-body">
                    <h:form id="formInscription" style="margin-left: 25px;">

                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="loginInsc" class="control-label compact">#{bundle.login}</label>
                            </div>
                            <div class="col-md-8">
                                <p:inputText id="loginInsc" styleClass="compact" value=""/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="nomInsc" class="control-label compact">#{bundle.nom}</label>
                            </div>
                            <div class="col-md-8">
                                <p:inputText id="nomInsc" styleClass="compact" value=""/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="prenomInsc" class="control-label compact">#{bundle.prenom}</label>
                            </div>
                            <div class="col-md-8">
                                <p:inputText id="prenomInsc" styleClass="compact" value=""/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="emailInsc" class="control-label compact">#{bundle.email}</label>
                            </div>
                            <div class="col-md-8">
                                <p:inputText id="emailInsc" styleClass="compact" value=""/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="numeroGsmInsc" class="control-label compact">#{bundle.numeroGsm}</label>
                            </div>
                            <div class="col-md-8">
                                <p:inputText id="numeroGsmInsc" styleClass="compact" value=""/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label for="groupeInsc" class="control-label compact">#{bundle.groupe}</label>
                            </div>
                            <div class="col-md-8">
                                <p id="groupeInsc"> SelectOneMenu to do</p>
                                <!--<h:selectOneMenu id="groupeInsc" value=""-->
                                                 <!--title=""-->
                                                 <!--styleClass="form-control">-->
                                    <!--<f:selectItem itemValue="" itemLabel=""/>-->
                                    <!--<f:selectItems value=""-->
                                                   <!--var=""-->
                                                   <!--itemLabel=""-->
                                                   <!--itemValue=""/>-->
                                <!--</h:selectOneMenu>-->
                            </div>
                        </div>
                        <div class="row form-group right">
                            <h:commandButton styleClass="btn btn-primary" value="#{bundle.sinscrire}"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>

    </ui:define>
    <ui:define name="jquery"/>
</ui:composition>
</html>
