<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
        <ui:composition template="template.xhtml">
            <ui:define name="content">
                    <h:form id="loginForm">
                        <div class="well-lg alert-info" style="width: 300px; margin: auto;">
                            <div class="form-group">
                                <label for="filename">#{bundle.login}</label>
                                <input id="filename" type="text" name="j_username" class="form-control" size="10"/>
                            </div>
                            <div class="form-group">
                                <label for="login">#{bundle.motDePasse}</label>
                                <input id="password" type="password" name="j_password" class="form-control" size="10"/>
                            </div>
                            <input id="login" type="submit" value="#{bundle.login}" class="btn btn-primary text-center"/>
                        </div>
                    </h:form>
                <script type="text/javascript">
                    document.getElementById("filename").focus();
                </script>
            </ui:define>
            <ui:define name="jquery"/>
        </ui:composition>
</html>
