<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="template.xhtml">
    <ui:composition>
        <h:form>
            <p:growl id="messages"/>

            <p:menubar>
                <p:menuitem value="#{bundle.accueil}" icon="ui-icon-home" url="#{request.contextPath}/index.xhtml"/>
                <!--<p:submenu label="#{bundle.actions}" icon="ui-icon-gear">-->
                    <!--<p:menuitem value="#{bundle.seConnecter}" icon="ui-icon-unlocked" url="/connexion.xhtml"/>-->
                    <!--<p:menuitem value="#{bundle.sinscrire}" icon="ui-icon-contact" url="/inscription.xhtml" />-->
                <!--</p:submenu>-->
                <p:submenu label="#{bundle.gestion}" icon="ui-icon-gear">
                    <p:menuitem value="#{bundle.groupes}" icon="ui-icon-unlocked" url="#{request.contextPath}/gestion/groupe.xhtml"/>
                    <p:menuitem value="#{bundle.equipes}" icon="ui-icon-contact" url="#{request.contextPath}/gestion/equipe.xhtml" />
                </p:submenu>
                <p:submenu label="#{bundle.configuration}" icon="ui-icon-gear">
                    <p:menuitem value="#{bundle.securite}" icon="ui-icon-unlocked" url="#{request.contextPath}/configuration/securite.xhtml"/>
                    <p:menuitem value="#{bundle.baseDeDonnees}" icon="ui-icon-contact" url="#{request.contextPath}/configuration/baseDeDonnees.xhtml" />
                </p:submenu>
                <!--<p:menuitem value="#{bundle.configuration}" icon="ui-icon-gear" url="/configuration.xhtml"/>-->
                <p:menuitem value="#{bundle.profil}" icon="ui-icon-person" url="#{request.contextPath}/profil.xhtml"/>
                <p:menuitem value="#{bundle.reglement}" icon="ui-icon-person" url="#{request.contextPath}/reglement.xhtml"/>
                <p:submenu label="#{bundle.aide}" icon="ui-icon-help">
                    <p:menuitem value="#{bundle.futsalManagerQuesaco}" url="#" />
                    <p:menuitem value="#{bundle.fonctionnalites}" url="#" />
                    <p:menuitem value="#{bundle.faq}" url="#" />
                </p:submenu>

                <f:facet name="options">
                    <ul class="list-inline">
                            <li>
                                <h:link styleClass="btn btn-warning" outcome="connexion">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true" style="padding-right: 1px;"/>
                                    #{bundle.seConnecter}
                                </h:link>
                            </li>
                            <li>
                                <h:link styleClass="btn btn-info" outcome="inscription">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"/>
                                    #{bundle.sinscrire}
                                </h:link>
                            </li>
                    </ul>
                </f:facet>
            </p:menubar>
        </h:form>
    </ui:composition>

</ui:composition>