<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="template.xhtml">
    <ui:define name="breadcrumbs">
        <li><a href="#{request.contextPath}/connexion.xhtml">#{bundle.connexion}</a></li>
        <ui:insert name="breadcrumb"/>
    </ui:define>
    <ui:define name="content">
        <div class="panel panel-default background-transparent">
            <div class="panel-heading">
                <h3 class="panel-title">#{bundle.gestionGroupesMinifoot}</h3>
            </div>
            <div class="panel-body">
                <p class="center-block">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"/>
                    En construction.
                </p>
            </div>
        </div>
    </ui:define>
    <ui:define name="jquery"/>
</ui:composition>
</html>
