<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="#{request.contextPath}/favicon.ico" />
    <h:outputStylesheet name="bootstrap.min.css" library="css" />
    <h:outputStylesheet name="bootstrap-theme.min.css" library="css" />
    <h:outputStylesheet name="futsalManager.css" library="css" />
    <ui:insert name="head"/>
    <title>

    </title>
</h:head>
<h:body style="padding-left: 5px; padding-right: 5px;" styleClass="fondEcran">


    <div style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
        <ui:include src="menuBar.xhtml"/>
    </div>

    <!--<div style="padding-top: 5px; padding-left: 5px; margin: 5px; padding-right: 5px; margin: 20px;">-->
        <!--<div class="navbar navbar-default" style="background: dodgerblue !important;">-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash;<ui:insert name="menu">&ndash;&gt;-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff !important;">TEST</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/activite">#{bundle.activites}</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">TEST2 <b class="caret"/></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/inscription">#{bundle.inscriptions}</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash;</ui:insert>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
        <!--<div class="navbar-collapse collapse">-->
        <!--<ul class="nav navbar-nav">-->
        <!--<ui:insert name="menu">-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">TEST <b class="caret"/></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="/activite">#{bundle.activites}</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">TEST2 <b class="caret"/></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="/inscription">#{bundle.inscriptions}</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ui:insert>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div style="padding-top: 5px; padding-left: 90px; padding-right: 5px;">
        <div id="breadcrumbs">
            <!--<ui:fragment rendered="#{! empty request.remoteUser}">-->
            <ol class="breadcrumb" style="margin-right: 8%">
                <li><a href="/"><span class="glyphicon glyphicon-home"/></a></li>
                <ui:insert name="breadcrumbs"/>
            </ol>
            <!--</ui:fragment>-->
        </div>
    </div>

    <div style="padding-top: 5px; padding-left: 10px; padding-right: 10px;">
        <ui:insert name="content"/>
    </div>

    <!--<div class="navbar navbar-fixed-bottom" style="background-color: #f5f5f5; margin-top: 10px;">-->
    <!--<p class="navbar-text pull-left"><h:outputText escape="false" value="#{bundle.txtFooter}"/></p>-->
    <!--<p class="navbar-text pull-right"><h:outputText escape="false" value="Test txt droit"/></p>-->
    <!--<ui:include src="dock.xhtml"/>-->
    <!--<p:blockUI block="dock" widgetVar="dockWidget"/>-->
    <!--</div>-->
    <ui:insert name="jquery"><h:outputScript library="js" name="jquery-1.10.2.min.js"/></ui:insert>
    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="main.js"/>
    <ui:insert name="javaScript"/>
</h:body>
</html>
